header{
    position: sticky;
    top: 0;
    background-color: white;
}
.top{
    background-color: #F2F2F2;
    align-items: center;

    
}
.top>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 93%;
    
}
.top>ul li:hover{
    background-color: #ddd9d9;
    
}
.top>ul>li{
    padding: 5px;
    display: flex;
    margin:0 12px;
    align-items: center;
    cursor: pointer;

}
.top li span{
    margin-left: 12px;
}
.top a{
    text-decoration: none;
    color: black;
}

.top>ul>li img{
    width: 100%;
}
.top>ul>li div{
    width: 18px;
}
.secondhead{
    padding: 20px 100px;
    display: grid;
    grid-template-columns: 1.3fr 2fr 1fr;
    gap: 20px;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    border-bottom: 2px solid black;
    
   
}
.logo{
    width: 52%;
}
.logo img{
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 80%;
    padding: 10px;
}
.user-actions{
    display: flex;
    justify-content: flex-end;
    gap: 30%;
    cursor: pointer;
}
.user-actions div{
    width: 30px;
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 12px;
}
.user-actions img{
    width: 100%;
}