*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F2F2;
}
.headline{
    background-color: white;
    padding: 30px 0;
}
.logo{
width : 200px;
margin-left: 20px;
}
.logo img{
    width: 100%;
}
.parent{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: center;
    gap: 2%;
    margin-top: 70px;
    width: 100%;
}
.child1{
    background-color: white;
    /* border: 1px solid black; */
    width: 27%;
    padding: 2%;
    height: fit-content;
}
.child1>form>div{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.parent>div>form>div>input{
    height: 48px;
    border-radius: 4px;
    border-width: 1px;
}

.btn1{
    margin-top: 32px;
}
.btn1>button{
    border: none;
    background: transparent;
    border: none;
    text-decoration: underline;
}

.btn2{
   margin-top: 34px;

}
.btn2>input{
    background: black;
    color: white;
    padding: 10px 41.90%
   
}

.btn3{
    margin-top: 24px;
   
 
 }
 

h1{
    margin-top: 0px;
    font-family: Lato, sans-serif;
    font-size: 24px;
}
