.section1{
    background-color: #F2F2F2;
    
}
.section1>div{
    margin: auto;
    padding: 12px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
    width: 80%;
}
.section1>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 12px;
}
.section1>div>div>div{
    width:35px;
    margin-right: 12px;
}
.section1 img{
    width: 100%;
}
.black{
    text-align: center;
    margin: 15px 0;
}
.black p{
    margin: auto;
    padding: 8px;
    background-color:#2E3337;
    color: white;
    width: 80%;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
}
.black p:hover{
    background-color: white;
    color: #2E3337;
}
.section3{
    margin: 6% 0;
}
.section2 p{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin: 40px 0;
}
.section2>div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 80%;
    margin: 50px auto;
}
.section2 img{
    width: 100%;
    cursor: pointer;
    transition: all .5s;
}
.section2 img:hover{
    scale: 1.1;
}
.section3>p:nth-child(1){
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin-bottom: 12px;
}
.section3>p:nth-child(2){
    font-size: 14px;
    line-height: 1.4;
    color: #848c92;
    font-weight: 300;
    text-transform: none;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
}
.section3>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    width: 95%;
    margin: auto;
} 
 .section3>div>div:nth-child(1){
    width: 100%;
}
.section3>div>div:nth-child(1) img{
    width: 100%;
}
.section3>div>div:nth-child(2){
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:0 30px;
    justify-content: center;
    align-items: center;
}
.items{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
    padding: 12px;
}
.items>div{
    padding: 12px;
}
.items img{
    width: 100%;
}  
.items button{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    line-height: 18px;
    background-color: #333;
    border-style: none;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.items button:hover{
    background-color: rgb(0, 179, 255);
    color:black ;
}
.items p{
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    text-align: left;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-word;
}
.items p:nth-child(3){
    font-family: "Lato-Regular",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 600;
}
.section4>p{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
}
.section4>div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding:0 40px; 
}
.banner{
    margin: 8% auto;
}
.banner>div{
    width: 95%;
    margin: auto;
}
.banner img{
    width: 100%;
}
.section5{
    text-align: center;
    
}
.section5>p{
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
}
.section5>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
gap: 12px;
    margin: auto;
}
.section5>div>div>div{
    width: 80%;
    margin: auto
}
.section5>div p{
    font-size: 22px;
    line-height: 1.4;
    color: #2e3337;
    font-weight: 300;
    margin-top: 8px;
}
.section5>div p:nth-child(3){
    font-size: 14px;
    line-height: 1.4;
    color: #81868a;
    font-weight: 300;
    margin-top: 8px;

}
.section5 img{
    width: 100%;
}
.section5 button{
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    color: #626669;
    cursor: pointer;
}
.section5 button:hover{
    background-color: rgb(215, 232, 242);
}
.section6{
    text-align: center;
    margin: 6% 0;
}
.section6>p{
    font-size: 32px;
    color: #2e3337;
    line-height: 1.2;
    margin-bottom: 16px;
}
.section6>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    margin: auto;
    gap: 18px;
}
.section6>div>div{
    padding: 12px;
}
.section6>div>div p:nth-child(2){
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 600;
}
.section6>div>div p:nth-child(3){
    padding: 8px;
    border: 1px solid red;
    margin-bottom: 12px;
    color: #5c6063;
}
.section6>div>div span{
    font-weight: 600;
    color: rgb(173, 5, 5);
}
.section6>div>div>div{
    margin-bottom: 12px;
}
.section6 img{
    width: 100%;
}
.section6 button{
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    line-height: 18px;
    background-color: #333;
    border-style: none;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    margin-top: 12px;
}
.section6 button:hover{
    background-color: rgb(0, 179, 255);
    color:black ;
}
